name: Deploy Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        default: 'uat'
        type: choice
        options:
          - 'uat' # uat-v1
          - 'uat-v2'
          - 'staging' # staging-v1
          - 'staging-v2'
          - 'development' # development-v1
          - 'development-v2'
          - 'production' # production-v1
          - 'production-v2'
          - 'ci-build'
      ref:
        description: 'Branch, tag or commit to deploy'
        required: true
        default: 'develop'

jobs:
  print-env:
    runs-on: ubuntu-latest
    name: Print Environment
    steps:
      - name: Print Environment
        run: echo "Deploying ${{ github.event.inputs.ref }} on ${{ github.event.inputs.environment }} Environment"

  build-and-test-all:
    name: Build and Test
    uses: ./.github/workflows/build.yml
    needs: print-env
    with:
      artifact_name: WebApp
      environment_name: ${{ github.event.inputs.environment }}
      ref: ${{ github.event.inputs.ref }}
    secrets: inherit

  pin-on-filebase:
    runs-on: ubuntu-latest
    name: Pin to IPFS via Filebase
    environment: ${{ github.event.inputs.environment }}
    needs: [build-and-test-all]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Retrieve artifact
        uses: actions/download-artifact@v4
        with:
          name: WebApp
          path: ./build

      - name: Set deployment timestamp
        id: timestamp
        run: echo "time=$(date -u +%Y-%m-%dT%H-%M-%SZ)" >> $GITHUB_OUTPUT

      - name: Pin to Filebase
        id: ipfs-pin
        uses: aquiladev/ipfs-action@master
        with:
          path: ./build
          service: filebase
          pinName: 'build'
          # pinName: '${{ vars.FILEBASE_ENV }}-deployment-${{ steps.timestamp.outputs.time }}'
          filebaseBucket: ${{ vars.FILEBASE_BUCKET }}
          filebaseKey: ${{ secrets.FILEBASE_KEY }}
          filebaseSecret: ${{ secrets.FILEBASE_SECRET }}

      - name: Update Filebase Site
        env:
          FILEBASE_RPC_KEY: ${{ secrets.FILEBASE_RPC_KEY }}
          FILEBASE_BUCKET: ${{ vars.FILEBASE_BUCKET }}
          IPFS_HASH: ${{ steps.ipfs-pin.outputs.hash }}
        run: |
          curl -X POST \
            "https://rpc.filebase.io/api/v0/name/publish?arg=/ipfs/${IPFS_HASH}&key=${FILEBASE_BUCKET}.myfilebase.site" \
            -H "Authorization: Bearer ${FILEBASE_RPC_KEY}" \
            --fail-with-body
